body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 50vh;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
}


.timer-display{
    border:2px solid #333;
    padding: 20px;
    margin: 20px;
    font-size: 48px;
    background-color: #fff;
    border-radius: 10px;
}

.timer-controls{
    display: flex;
    justify-content: center;
}

.timer-controls button{
    background-color: #007bff;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.timer-controls button:hover{
    background-color: #0046d5;
}

.timer-laps{
    width: 100%;
}

.timer-laps ul{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.timer-laps li{
    flex: 1 1 200px;
    max-width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    padding: 8px 16px;
    margin: 4px; 
    border-radius: 6px;
    border-bottom: 1px solid #ddd;
    
}


.timer-laps li:nth-child(odd){
    background-color: #98c1ec;
    padding: 8px 16px;

}

.timer-laps li:nth-child(even){
    background-color:#077fff;
}

.laps-box {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #fafafa;
  margin-top: 20px;
}

.laps-box h3{
    margin-top: 0;
    text-align: center;
}